body, ul {
    margin: 0;
    padding: 0;
}

/* Define styles for the navigation bar */
.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content:space-between; /* Align elements to the left and right ends */
    align-items: center;
    padding: 10px;
    width: 100%; /* Take full width of the screen */
}


/* Style the logo */
.logo {
    display: flex;
    align-items: center; /* Center items vertically */
}

.logo img {
    max-height: 50px;
}

.logo p {
    margin-left: 10px; /* Add spacing between the image and text */
}
/* Style the navigation links */
.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Make the navigation links a flex container */
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

/* Style the image buttons */
.image-buttons {
    display: flex;
    align-items: center;
}

.image-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 20px;

}

/* Set a specific size for the images */
.button-img {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
}

.body-section {
    background-color: #ffe2e4;
    text-align: center;
}

/* Style the input and button in the body section */

.body-section button {
    background-color: #333;
    color:#ffe2e4;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius:20px ;
    width: 15%;

    
}

.container {
    display: flex;
    align-items: center;
    background-color:#ffe2e4;
  }
  
  .img {
    flex: 1;
    margin-right: 20px; /* Adjust spacing between image and text */
  }
  
  .image img {
    width: 80%; /* Ensure the image takes the full width of its container */
    height: auto;
  }
  
  .text {
    flex: 1;
    margin-left: 25px;
  }
  
  /* Additional styling for text */
  .text h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .text p {
    font-size: 16px;
    line-height: 1.5;
  }
  